.blog-area {
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  text-align: center;
}

.blog-header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.blog-title {
  margin-top: 60px;
  font-size: 3.5em;
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.dark-mode .blog-title {
  color: #3aa99e;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.blog-subtitle {
  font-size: 1rem;
  padding: 10px;
  margin-bottom: -60px;
  font-weight: 500;
  color: #333;
  line-height: 1.6;
}

.dark-mode .blog-subtitle {
  color: #ccc;
}

.blog-content {
  margin: 20px;
  border-radius: 12px;
  text-align: center;
}

.blog-post {
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;   
  border-bottom: 8px solid #107067;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column; /* Make it column flex for smaller screens */
  gap: 30px;
}

.dark-mode .blog-post {
  background-color: #131313;
  
  border-bottom: 8px solid #107067;
}

.blog-post:hover {
  transform: translateY(-5px);
}

.blog-image {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.blog-post h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
  color: #034440;
}

.dark-mode .blog-post h3{
  color: #04aaa2;
}

.blog-post p {
  color: #333;
  line-height: 2;
}
.dark-mode .blog-post p {
  color: #ddd;
}

.pagi {
  display: flex;
  justify-content: right; /* Center pagination controls */
  margin-top: 20px;
}

.pagi button {
  margin: 10px 5px;
  padding: 0.5rem 1rem;
  background-color: #04aaa2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagi button:disabled {
  background-color: #aaa;
}

.pagi button:hover:not(:disabled) {
  background-color: #107067;
}

.pagi .active {
  background-color: #0d5b57; /* Highlight the active page */
}

.filtery {
  margin: 60px 20px;
}

.filtery button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #107067;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

.filtery button:hover {
  background-color: #3aa99e;
}

.filtery button.active {
  background-color: #02524d;
  color: white;
}

.dark-mode .filtery button.active {
  background-color: #3aa99e;
  color: #292929;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Space between user info and post details */
  gap:10px;
}

.user-avatar {
  width: 40px; /* Set a fixed width for the avatar */
  height: 40px; /* Set a fixed height for the avatar */
  border-radius: 50%; /* Make the avatar circular */
}

.user-name {
  font-weight: bold;
  color: #333; /* Adjust color if needed */
}

.dark-mode .user-name {
  color: #04aaa2;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .blog-post {
    flex-direction: row; /* Switch back to row layout for larger screens */
    padding-bottom: 0;
    background: linear-gradient(to top , #d3f4f7,#fff,#fff,#fff,#fff,#fff,#fff);
    border-bottom: 8px solid #718586;
  }
  
  .dark-mode .blog-post {
    background: linear-gradient(to top , #012522,#131313,#131313,#131313,#131313,#131313,#131313);
    border-bottom: 8px solid #131313;
  }

  .blog-image {
    width: 40%; /* Adjust the width of the image */
  }

  .post-details {
    width: 60%; /* Adjust the width of the text container */
  }
}

@media (max-width: 768px) {
  .blog-title {
    font-size: 2.5em; /* Adjust title size for smaller screens */
  }

  .blog-subtitle {
    font-size: 1em; /* Adjust subtitle size for smaller screens */
  }

  .pagi {
    justify-content: center;
  }
}
