/* Ensure that the body takes up at least the full height of the viewport */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Make the main content take up the remaining space above the footer */
.main-content {
  flex: 1;
}

/* Footer Styles */
.footer {
  padding: 10px 2%; /* Increased padding for better spacing */
  width: 100%;
  background: #292929;
  color: #f8f9fa;
  border-top: 1px solid #444444;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-direction: column; /* Stack items vertically on small screens */
  align-items: center; /* Center items */
  text-align: center; /* Center text */
}

.footer-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center; /* Center align items */
}


.blinking {
  animation: blink 1s step-start infinite;
  font-size: 1.2em;
  margin-left: 5px;
}

@keyframes blink {
  50% { opacity: 0; }
}


.footer p {
  margin: 10px 10px;
  font-size: 1rem;
}

/* Social Media Icons */
.footer-social-icons {
  display: flex;
  justify-content: center; /* Center align social icons */
  margin-top: 10px; /* Adjusted margin for better spacing */
}

.footer-social-icons a {
  margin:10px 10px;
  color: #f8f9fa;
  font-size: 1em;
  transition: color 0.3s ease;
}

.footer-social-icons a:hover {
  color: #04aaa2;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row; /* Align items in a row on larger screens */
    justify-content: space-between; /* Space between left and right sections */
    align-items: flex-start; /* Align items to the top */
  }

  .footer-left {
    text-align: left; /* Align text to the left */
    margin-bottom: -10px; /* Remove bottom margin */
  }

  .footer-right {
    flex-direction: row;
    align-items: center;
  }

  .footer p, .footer-links a {
    font-size: 1rem; /* Increase font size for larger screens */
  }

  .footer-social-icons a {
    font-size: 1rem; /* Increase icon size for larger screens */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 5px 5%; /* Adjust padding for smaller screens */
  }

  .footer-social-icons a {
    font-size: 1em; /* Adjust icon size for smaller screens */
    margin: 0 10px; /* Adjust margin for smaller screens */
    margin-bottom:  1rem;
  }
}

.heart {
  color: #04aaa2;
  animation: blink 1.5s step-start infinite;
  font-size: 1.2em;
  margin-right: 2px;
}
